*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.aside{
    width: 30%;
    height: 50rem;
    background-color: rgb(52, 43, 85);
}
.container{
    width: 70%;
    height: 50rem;
    background-color: rgb(33, 20, 46);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card-week-container{
    width: 80%;
    height: 30%;
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.card{
    background-color: rgb(52, 43, 85);
    width: 8rem;
    
}
.card-temperature-container{
    margin: 2rem;
    width: 80%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
 
}
.card-temperature{
    background-color: white;
    width: 30rem;
    margin: 1rem 0;
}